.error {
  color: red;
}

.corpo-img {
  text-align: center;
  align-items: center;
}
.corpo-img > img {
  max-width: 175px;
}

.corporate-form {
  width: 65%;
  margin: auto;

  padding: 11px 22px 11px 22px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.corporate-form > form > div > h5 {
  color: #000;
  font-weight: 400;
  font-size: 16px;
}
.corporate-form > form > div > input {
  width: 100%;
  padding: 12px 1em;
  line-height: 1.4;
  background-color: #fff;
  border: 1px solid whitesmoke;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  font-family: "Rubik";
  font-size: 15px;
  -webkit-box-shadow: 0 2px 2px 0 #cdcdcd;
  -moz-box-shadow: 0 2px 2px 0 #cdcdcd;
  -ms-box-shadow: 0 2px 2px 0 #cdcdcd;
  box-shadow: 0 2px 2px 0 #cdcdcd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  font-weight: 300;
}
.corporate-form > form > div > select {
  width: 100%;
  padding: 12px 1em;
  line-height: 1.4;
  background-color: #fff;
  border: 1px solid whitesmoke;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  font-family: "Rubik";
  font-size: 15px;
  -webkit-box-shadow: 0 2px 2px 0 #cdcdcd;
  -moz-box-shadow: 0 2px 2px 0 #cdcdcd;
  -ms-box-shadow: 0 2px 2px 0 #cdcdcd;
  box-shadow: 0 2px 2px 0 #cdcdcd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
.corporate-label {
  font-size: 14px;
  line-height: 4px;
  font-weight: 500;
  border: 1px solid red !important  ;
}

/* .corporate-button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  width: 200px;
  height: 50px;
  background: #e24b0f;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.corporate-button:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-top: 2px solid white;
  border-right: 2px solid white;
  animation: border-top-right 3s infinite alternate;
}
@keyframes border-top-right {
  0% {
    width: 0px;
    height: 0px;
  }
  25% {
    width: 200px;
    height: 0px;
  }
  50% {
    width: 200px;
    height: 48px;
  }
  100% {
    width: 200px;
    height: 48px;
  }
}
.corporate-button:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  animation: border-bottom-left 3s infinite alternate;
}
@keyframes border-bottom-left {
  0% {
    width: 0px;
    height: 0px;
  }
  50% {
    width: 0px;
    height: 0px;
  }
  75% {
    width: 200px;
    height: 0px;
  }
  100% {
    width: 200px;
    height: 48px;
  }
}

@keyframes border-bottom-left {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0;
  }
  50% {
    width: 0px;
    height: 0px;
    opacity: 0;
  }
  50.1% {
    width: 0px;
    height: 0px;
    opacity: 1;
  }
  75% {
    width: 200px;
    height: 0px;
    opacity: 1;
  }
  100% {
    width: 200px;
    height: 48px;
    opacity: 1;
  }
} */

/* button */
.corporate-button {
  padding: 8px 22px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 4px;
}
.corporate-button::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #e66b35;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* glow */
.corporate-button::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* hover */
.corporate-button:hover::before {
  opacity: 1;
}

.corporate-button:active:after {
  background: transparent;
}

.corporate-button:active {
  color: #000;
  font-weight: bold;
}
